# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending 645-675 per student actually underperformed compared to schools with smaller budgets (585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

In [38]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(3)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635

## District Summary

In [39]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete["school_name"].unique())
student_count = school_data_complete["Student ID"].count()

# Calculate the Total Budget
total_budget = school_data["budget"].sum()

In [40]:
# Calculate the Average Scores
average_math_score = school_data_complete["math_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

In [41]:
# Calculate the Percentage Pass Rates

#Number of students that passed each subject and % against total
passingMath = len(school_data_complete[school_data_complete["math_score"] >=70])
percentMath = passingMath/student_count * 100

passingReading = len(school_data_complete[school_data_complete["reading_score"] >=70])
percentReading = passingReading/student_count * 100

# %Overall Passing

school_data_complete.loc[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70), "oPass"]=1
overallPass= school_data_complete["oPass"].sum()
overallPassPercent = overallPass/student_count * 100

In [42]:
#Create the dataFram district_Summary
district_summaryDF = pd.DataFrame({
    "Total Schools" : [school_count],
    "Total Students" : [student_count],
    "Total Budget" : [total_budget],
    "Average Math Score" : [average_math_score],
    "Average Reading Score" : [average_reading_score],
    "% Passing Math"  : [percentMath],
    "% Passing Reading" : [percentReading],
    "% Overall Passing" : [overallPassPercent]   
})

# Minor Data Cleanup
district_summaryDF["Total Students"] = district_summaryDF["Total Students"].map("{:,}".format)
district_summaryDF["Total Budget"] = district_summaryDF["Total Budget"].map("${:,.2f}".format)
district_summaryDF["Average Math Score"] = district_summaryDF["Average Math Score"].map("{:.2f}".format)
district_summaryDF["Average Reading Score"] = district_summaryDF["Average Reading Score"].map("{:.2f}".format)
district_summaryDF["% Passing Math"] = district_summaryDF["% Passing Math"].map("{:.2f}%".format)
district_summaryDF["% Passing Reading"] = district_summaryDF["% Passing Reading"].map("{:.2f}%".format)
district_summaryDF["% Overall Passing"] = district_summaryDF["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame
district_summaryDF

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [43]:
# Determine the School Type
#schoolGroup = school_data_complete.groupby(["school_name"])
schoolType = school_data.set_index(["school_name"])["type"]


# Calculate the total student count
studentCountPerSchool = school_data_complete["school_name"].value_counts()


# Calculate the total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_capita_spending = per_school_budget/studentCountPerSchool


# Calculate the average test scores
averageMathSchool = school_data_complete.groupby(["school_name"]).mean()["math_score"]
averageReadingSchool = school_data_complete.groupby(["school_name"]).mean()["reading_score"]

In [44]:
# Get the students who passed math and passed reading by creating separate filtered DataFrames.
passedMathDF = school_data_complete[school_data_complete["math_score"] >=70]
passedReadingDF = school_data_complete[school_data_complete["reading_score"] >=70]

# Get the the students who passed both reading and math in a separate DataFrame.
passedBothDF = school_data_complete.loc[(school_data_complete["math_score"] >=70) & (school_data_complete["reading_score"] >=70)]

In [45]:
#  Calculate the Percentage Pass Rates
percentPassMathSchool = (passedMathDF.groupby(["school_name"]).count()["student_name"] /studentCountPerSchool) *100
percentPassReadingSchool = (passedReadingDF.groupby(["school_name"]).count()["student_name"] /studentCountPerSchool) *100
percentPassBothSchool = (passedBothDF.groupby(["school_name"]).count()["student_name"] /studentCountPerSchool) *100

In [58]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({
    "School Type" : schoolType,
    "Total Students" : studentCountPerSchool,
    "Total School Budget" : per_school_budget,
    "Per Student Budget" : per_capita_spending,
    "Average Math Score" : averageMathSchool,
    "Average Reading Score" : averageReadingSchool,
    "% Passing Math" : percentPassMathSchool,
    "% Passing Reading" : percentPassReadingSchool,
    "% Overall Passing" : percentPassBothSchool
})


# Minor data wrangling
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame
per_school_summary[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Math Score",
      "Average Reading Score",
      "% Passing Math",
      "% Passing Reading",
      "% Overall Passing"]].head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%

## Top Performing Schools (By % Overall Passing)

In [59]:
# Sort and show top five schools
topPerformingSchools = per_school_summary.sort_values(by=["% Overall Passing"], ascending=False)
topPerformingSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [60]:
# Sort and show bottom five schools
bottomPerformingSchools = per_school_summary.sort_values(by=["% Overall Passing"], ascending=True)
bottomPerformingSchools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [61]:
# Create data series of scores by grade levels using conditionals
ninthGrade = school_data_complete[school_data_complete["grade"]=="9th"]
tenthGrade = school_data_complete[school_data_complete["grade"]=="10th"]
eleventhGrade = school_data_complete[school_data_complete["grade"]=="11th"]
twelfthGrade = school_data_complete[school_data_complete["grade"]=="12th"]

# Group each by school name
ninthGradeMathScore = ninthGrade.groupby(["school_name"]).mean()["math_score"]
tenthGradeMathScore = tenthGrade.groupby(["school_name"]).mean()["math_score"]
eleventhGradeMathScore = eleventhGrade.groupby(["school_name"]).mean()["math_score"]
twelfthGradeMathScore = twelfthGrade.groupby(["school_name"]).mean()["math_score"]

# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({
                            "9th" : ninthGradeMathScore, 
                             "10th" : tenthGradeMathScore, 
                            "11th" :  eleventhGradeMathScore, 
                             "12th" :  twelfthGradeMathScore
                              })


# Minor data wrangling
scores_by_grade["9th"] = scores_by_grade["9th"].map("{:.2f}".format)
scores_by_grade["10th"] = scores_by_grade["10th"].map("{:.2f}".format)
scores_by_grade["11th"] = scores_by_grade["11th"].map("{:.2f}".format)
scores_by_grade["12th"] = scores_by_grade["12th"].map("{:.2f}".format)
scores_by_grade.index.name = None
# Display the DataFrame
scores_by_grade

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

In [62]:
# Create data series of scores by grade levels using conditionals
ninthGrade = school_data_complete[school_data_complete["grade"]=="9th"]
tenthGrade = school_data_complete[school_data_complete["grade"]=="10th"]
eleventhGrade = school_data_complete[school_data_complete["grade"]=="11th"]
twelfthGrade = school_data_complete[school_data_complete["grade"]=="12th"]

# Group each by school name
ninthGradeReadingScore = ninthGrade.groupby(["school_name"]).mean()["reading_score"]
tenthGradeReadingScore = tenthGrade.groupby(["school_name"]).mean()["reading_score"]
eleventhGradeReadingScore = eleventhGrade.groupby(["school_name"]).mean()["reading_score"]
twelfthGradeReadingScore = twelfthGrade.groupby(["school_name"]).mean()["reading_score"]


# Combine series into single DataFrame
scores_by_grade = pd.DataFrame({
                            "9th" : ninthGradeReadingScore, 
                             "10th" : tenthGradeReadingScore, 
                            "11th" :  eleventhGradeReadingScore, 
                             "12th" :  twelfthGradeReadingScore
                              })

# Minor data wrangling
scores_by_grade["9th"] = scores_by_grade["9th"].map("{:.2f}".format)
scores_by_grade["10th"] = scores_by_grade["10th"].map("{:.2f}".format)
scores_by_grade["11th"] = scores_by_grade["11th"].map("{:.2f}".format)
scores_by_grade["12th"] = scores_by_grade["12th"].map("{:.2f}".format)
scores_by_grade.index.name = None

# Display the DataFrame
scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

In [63]:
# Establish the bins 
spend_bins = [0, 585, 630, 645, 680]
group_by= ["<$585", "$585-$629", "$630-$644", "$645-$680"]

In [64]:
# Create a copy of the school summary since it has the "Per Student Budget" per_capita_spending
#  This step can be skip but its best to make a copy. 
school_spending_df = per_school_summary

In [65]:
# Categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_capita_spending, spend_bins, labels = group_by)
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$585-$629
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$630-$644
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$630-$644
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$585-$629
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$645-$680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$645-$680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$645-$680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$585-$629
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$630-$644
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$585-$629
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$630-$644
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [67]:
#Create copy of DF so we can redefine columns as float
school_spending_copy = school_spending_df
school_spending_copy["Average Math Score"] = school_spending_copy["Average Math Score"].astype("float")
school_spending_copy["Average Reading Score"] = school_spending_copy["Average Reading Score"].astype("float")
school_spending_copy["% Passing Math"] = school_spending_copy["% Passing Math"].str.replace("%", "").astype("float")
school_spending_copy["% Passing Reading"] = school_spending_copy["% Passing Reading"].str.replace("%", "").astype("float")
school_spending_copy["% Overall Passing"] = school_spending_copy["% Overall Passing"].str.replace("%", "").astype("float")
school_spending_copy.dtypes

School Type                        object
Total Students                     object
Total School Budget                object
Per Student Budget                 object
Average Math Score                float64
Average Reading Score             float64
% Passing Math                    float64
% Passing Reading                 float64
% Overall Passing                 float64
Spending Ranges (Per Student)    category
dtype: object

In [68]:
school_spending_copy.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-$629
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-$644
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-$644
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-$629

In [77]:
#  Calculate averages for the desired columns. 
mathSpending = school_spending_copy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
readingSpending = school_spending_copy.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
percentMathSpending = school_spending_copy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
percentReadingSpending = school_spending_copy.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
percentOverallSpending = school_spending_copy.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [79]:
# Assemble Dataframe
spending_summary = pd.DataFrame({
    "Average Math Score" : mathSpending,
    "Average Reading Score" : readingSpending,
    "% Passing Math" : percentMathSpending,
    "% Passing Reading" : percentReadingSpending, 
    "% Overall Passing" : percentOverallSpending
})

# Data Cleanup
spending_summary["Average Math Score"] = spending_summary["Average Math Score"].map("{:.2f}".format)
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:.2f}".format)
spending_summary["% Passing Math"] = spending_summary["% Passing Math"].map("{:.2f}".format)
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}".format)
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}".format)

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.45,83.93,93.46,96.61,90.37
$585-$629,81.90,83.16,87.13,92.72,81.42
$630-$644,78.52,81.62,73.48,84.39,62.86
$645-$680,77.00,81.03,66.16,81.13,53.53

## Scores by School Size

In [82]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [85]:
# Categorize the spending based on the bins
scoresBySize=per_school_summary
scoresBySize["Scores By School Size"] = pd.cut(studentCountPerSchool, size_bins, labels = group_names)

scoresBySize

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),Scores By School Size
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$585-$629,Large (2000-5000)
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,<$585,Medium (1000-2000)
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$630-$644,Large (2000-5000)
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$630-$644,Large (2000-5000)
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$585-$629,Medium (1000-2000)
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$645-$680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,<$585,Small (<1000)
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$645-$680,Large (2000-5000)
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$645-$680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$585-$629,Small (<1000)
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$630-$644,Large (2000-5000)
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$585-$629,Medium (1000-2000)
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$630-$644,Medium (1000-2000)
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$585,Large (2000-5000)
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,<$585,Medium (1000-2000)

In [86]:
# Calculate averages for the desired columns. Average Math Score Average Reading Score % Passing Math % Passing Reading % Overall Passing
smathSpending = scoresBySize.groupby(["Scores By School Size"]).mean()["Average Math Score"]
sreadingSpending = scoresBySize.groupby(["Scores By School Size"]).mean()["Average Reading Score"]
spercentMathSpending = scoresBySize.groupby(["Scores By School Size"]).mean()["% Passing Math"]
spercentReadingSpending = scoresBySize.groupby(["Scores By School Size"]).mean()["% Passing Reading"]
spercentOverallSpending = scoresBySize.groupby(["Scores By School Size"]).mean()["% Overall Passing"]

In [89]:
# Assemble into DataFrame
size_summary = pd.DataFrame({
    "Average Math Score" : smathSpending,
    "Average Reading Score" : sreadingSpending,
    "% Passing Math" : spercentMathSpending,
    "% Passing Reading" : spercentReadingSpending, 
    "% Overall Passing" : spercentOverallSpending
})
# Minor data wrangling
size_summary["Average Math Score"] = size_summary["Average Math Score"].map("{:.2f}".format)
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:.2f}".format)
size_summary["% Passing Math"] = size_summary["% Passing Math"].map("{:.2f}".format)
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}".format)
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}".format)


# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Scores By School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.89
Medium (1000-2000),83.37,83.87,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.28

## Scores by School Type

In [94]:
#  Create new series using groupby for"
# Type | Average Math Score | Average Reading Score | % Passing Math | % Passing Reading | % Overall Passing
# copy DF
school_type_summary = school_spending_copy

# set groupby variables
tmathSpending = school_type_summary.groupby(["School Type"]).mean()["Average Math Score"]
treadingSpending = school_type_summary.groupby(["School Type"]).mean()["Average Reading Score"]
tpercentMathSpending = school_type_summary.groupby(["School Type"]).mean()["% Passing Math"]
tpercentReadingSpending = school_type_summary.groupby(["School Type"]).mean()["% Passing Reading"]
tpercentOverallSpending = school_type_summary.groupby(["School Type"]).mean()["% Overall Passing"]

In [96]:
# Assemble into DataFrame
type_summary = pd.DataFrame({
    "Average Math Score" : tmathSpending,
    "Average Reading Score" : treadingSpending,
    "% Passing Math" : tpercentMathSpending,
    "% Passing Reading" : tpercentReadingSpending, 
    "% Overall Passing" : tpercentOverallSpending      
})
# Minor data wrangling
type_summary["Average Math Score"] = type_summary["Average Math Score"].map("{:.2f}".format)
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.2f}".format)
type_summary["% Passing Math"] = type_summary["% Passing Math"].map("{:.2f}".format)
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}".format)
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}".format)


#Display Results
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67